*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1200px;
    width:80%;
    margin: 0 auto;
}

header{
    height: 100px;
    background-color: #E579E6;
    margin: 20px auto;
}

#first-sect{
    height: 300px;
    background-color: #E1D67A;
}