*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after{
    content: "";display: table;
    clear: both;
}
.float-left{
    float:left;
}
body{
    max-width: 1200px;
    width:80%;
    margin: 0 auto;
}

header{
    height: 100px;
    background-color: #E579E6;
    margin: 20px auto;
}

section{
    margin-top: 15px;
    margin-bottom: 15px;
}

#first-sect{
    height: 250px;
    background-color: #E1D67A;
}


main{
    
    background-color: #0186FF; 
}

#main-header{
    height: 50px;
    background-color: #ABCFE7;
    margin-bottom: 10px;
}

.container div{
    height: 350px;
    background-color: #ABCFE7;
    margin-top: 10px;
    margin-bottom: 10px;
}

.side-bar{
    width: 25%;
}
#main-content{
    margin: 10px;
    width: calc(50% - 20px);
}

footer{
    height: 50px;
    background-color: #8801FE;
    margin-top: 5px;
}
